services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: erp-laravel-app
    volumes:
      - .:/var/www/html
    networks:
      - laravel

  nginx:
    image: nginx:latest
    container_name: erp-laravel-nginx
    ports:
      - "8000:80"   # Laravel via Nginx
    volumes:
      - .:/var/www/html
      - ./docker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    networks:
      - laravel
    depends_on:
      - app

  mysql:
    image: mysql:8.0
    container_name: erp-laravel-mysql
    restart: always
    environment:
      MYSQL_DATABASE: erp_laravel
      MYSQL_USER: laravel
      MYSQL_PASSWORD: secret
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - laravel

  vite:
    image: node:20
    container_name: erp-laravel-vite
    working_dir: /var/www/html
    volumes:
      - .:/var/www/html
    command: npm run dev -- --host
    ports:
      - "5173:5173"
    networks:
      - laravel

networks:
  laravel:

volumes:
  mysql_data:
